@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-time-shadow {
    text-shadow: 6px 6px 6px rgb(225, 29, 72);
  }

  .homeBg {
    background-image: url(./images/homebg.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bg {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .maria {
    font-family: 'maria', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
  }
  .elegant {
    font-family: 'elegant', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
  }

  @font-face {
    font-family: 'maria';
    src: url(./fonts/Maria-Regular-2.otf);
  }

  @font-face {
    font-family: 'elegant';
    src: url(./fonts/Zhiyong-Elegant-2.ttf);
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}
